.review_section {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

.review_container {
    width: 80%;
    padding: 60px 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.review_card {
    width: 300px;
    min-width: 300px;
    height: 250px;
    border-radius: 10px;
    /* overflow: scroll; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.review_top {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review_center {
    position: relative;
    width: 100%;
    height: 40%;
    padding: 0 18px;
}

.quote {
    color: darkorange;
    width: 20px;
    height: auto;
}

.review_bottom {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}

#user {
    width: 30px;
    height: 30px;
}


.contact_form_container {
    width: 100%;
    margin: 50px auto 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_form {
    width: 80%;
    max-width: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.contact_title h3 {
    font-size: 25px;
    text-align: center;
    padding: 30px 0 20px 0;
}

.contact_title hr {
    width: 80%;
    background-color: gray;
    margin: 0 auto 40px auto;
}

.contact_input {
    width: 70%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
    margin: 0 0 15px 0;
    font-size: 16px;
}

.contact_detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_comment textarea{
    background-color: transparent;
    width: 80%;
    height: 180px;
    resize: none;
    outline: none;
    padding: 3% 2%; 
    font-size: 17px;
}

.contact_button_container {
    margin: 20px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_submit_btn {
    width: 60%;
    height: 40px;
    border: none;
    background-color: darkorange;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}