
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 5%;
    background-color: rgba(227, 227, 227, 0.6);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99999;
}

body.dark nav {
    background-color: rgba(51, 51, 51, 0.6);
}

.left_nav p {
    color: darkorange;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

.right_nav {
    display: flex;
    align-items: center;
}

.nav_links ul {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.nav_links ul li {
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    position: relative;
}

a.active {
    color: darkorange;
}

.nav_links ul li a.active::after {
    content: '';
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: darkorange;
    animation: appear 0.4s linear;
}

body.dark .nav_links ul li a {
    color: aliceblue;
}

body.dark .nav_links ul li a.active {
    color: aliceblue;
}

@keyframes appear {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


.theme_container {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 20px;
    margin-left: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

#indicator {
    /* cursor: pointer; */
    position: absolute;
    top: 0;
    left: 0.8px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    transform: scale(0.9);
    background-color: darkorange;
    transition: all 0.5s;
}

#indicator.dark {
    left: calc(100% - 19.8px);
}

#sun {
    color: gold;
}

#moon {
    color: white;
}


#menu_box {
    cursor: pointer;
    margin-left: 20px;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 2.5px;
    margin: 3px 0;
    border-radius: 1px;
    background-color: black;
    transition: all 0.8s;
}

body.dark .bar {
    background-color: gold;
}

#menu_box.clicked .bar:nth-child(1) {
    transform: translateY(5.58px) rotate(135deg);
}

#menu_box.clicked .bar:nth-child(2) {
    opacity: 0;
}

#menu_box.clicked .bar:nth-child(3) {
    transform: translateY(-5.58px) rotate(-135deg);
}




@media screen and (max-width: 560px) {
    #menu_box {
        display: block;
    }

    .nav_links {
        position: absolute;
        top: 60px;
        right: -80%;
        padding: 20px 50px;
        border-radius: 20px;
        background-color: #efefef;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        align-items: center;
        justify-content: center;
        transition: all 0.8s;
    }

    body.dark .nav_links {
        background-color: black;
    }

    .nav_links ul {
        flex-direction: column;
    }

    .nav_links.show {
        right: 8%;
    }
}

